<header id="masthead" class="site-header {{ .Site.Params.header.bg }}">
  <div class="site-header-wrap">
    <div class="site-header-inside">
      <div class="site-branding">
        {{ if .Site.Params.header.profile_img }}
        <p class="profile">
          <a href='{{ "/" | relURL }}'><img src="{{ .Site.Params.header.profile_img | relURL }}"
              class="avatar" alt="Author Avatar" /></a>
        </p><!-- .profile -->
        {{ end }}
        <div class="site-identity">
          {{ if or (eq .Params.layout "home") (eq .Params.layout "blog") }}
          <h1 class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></h1>
          {{ else }}
          <p class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></p>
          {{ end }}
          {{ if .Site.Params.header.tagline }}
          <p class="site-description">{{ .Site.Params.header.tagline }}</p>
          {{ end }}
        </div><!-- .site-identity -->
        {{ if and .Site.Menus.main .Site.Params.header.has_nav }}
        <button id="menu-toggle" class="menu-toggle"><span class="screen-reader-text">Menu</span><span class="icon-menu"
            aria-hidden="true"></span></button>
        {{ end }}
      </div><!-- .site-branding -->
      {{ if and .Site.Menus.main .Site.Params.header.has_nav }}
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-wrap">
          <div class="site-nav-inside">
            <ul class="menu">
              {{ range $item := .Site.Menus.main }}
              <li class="menu-item {{ if eq $.URL $item.URL }} current-menu-item{{ end }}">
                <a href="{{ $item.URL | relURL }}">{{ $item.Name }}</a>
              </li>
              {{ end }}
            </ul><!-- .menu -->
            {{ if .Site.Params.header.has_social }}
            {{ partial "social.html" . }}
            {{ end }}
          </div><!-- .site-nav-inside -->
        </div><!-- .site-nav-wrap -->
      </nav><!-- .site-navigation -->
      {{ end }}
    </div><!-- .site-header-inside -->
  </div><!-- .site-header-wrap -->
  <link rel="stylesheet" href="/css/style.css">
<script defer src="https://use.fontawesome.com/releases/v{{ .Site.Params.fa_version }}/js/solid.js" integrity="sha384-Z7p3uC4xXkxbK7/4keZjny0hTCWPXWfXl/mJ36+pW7ffAGnXzO7P+iCZ0mZv5Zt0" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v{{ .Site.Params.fa_version }}/js/brands.js" integrity="sha384-ZqDZAkGUHrXxm3bvcTCmQWz4lt7QGLxzlqauKOyLwg8U0wYcYPDIIVTbZZXjbfsM" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v{{ .Site.Params.fa_version }}/js/fontawesome.js" integrity="sha384-juNb2Ils/YfoXkciRFz//Bi34FN+KKL2AN4R/COdBOMD9/sV/UsxI6++NqifNitM" crossorigin="anonymous"></script>
{{ if ( index .Params "hljs" | default true ) }}
    {{ with .Site.Params.highlight.style }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ .Site.Params.hljs_version }}/styles/{{ . }}.min.css">
    {{ else }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ .Site.Params.hljs_version }}/styles/default.min.css">
    {{ end }}
    <link rel="stylesheet" href="/css/vs2015.min.css">
{{ end }}
{{ if ( index .Params "defaultcss" | default true ) }}
    <link rel="stylesheet" href="/css/images.min.css">
{{ end }}
</header><!-- .site-header -->
